body {
  font: 100%/1.5 system-ui, sans-serif;
  display: flex;
  flex-flow: column;
  max-width: 80em;
  min-height: 100vh;
  box-sizing: border-box;
  margin: auto;
  padding: 1em;
}

header {
    display: flex;
    align-items: baseline;
    gap: 1em;
    width: 100%;
    padding: 0 1em;
}

#time-filter {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    font-weight: bold;
}


#time-filter time,
#time-filter em {
    display: block;
    margin-top: 0.25em;
    font-weight: normal;
}

#time-filter em {
    color: lightslategray;
    font-style: italic;
    
}